.alunos-table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
}

.alunos-table th, .alunos-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.alunos-table th {
    background-color: #f2f2f2;
}

.alunos-table tr:nth-child(even) {
    background-color: #f9f9f9;
}
